In [227]:
import pandas as pd

In [263]:
df=pd.read_csv('data.csv',sep=';')

In [264]:
df.head(2)

   ID                                           Question
0   1  Как зовут лодочника на реке Стикс в древнегреч...
1   2                   Как в химии обозначается свинец?

In [265]:
df['len']=df.Question.str.len()

In [266]:
df.head(3)

   ID                                           Question  len
0   1  Как зовут лодочника на реке Стикс в древнегреч...   62
1   2                   Как в химии обозначается свинец?   32
2   3  Какой химический элемент преобладает в составе...   62

In [267]:
import string
digits=[]
first_word_len=[]
last_word_len=[]
for row in df['Question']:
    digits.append(sum([int(not i.strip(string.punctuation).isalpha()) for i in 
                       row.replace(',',' ').replace(';',' ').replace('?',' ').split()]))
    first_word=row.split()[0]
    first_word_len.append(len(first_word))
    last_word_len.append(len(row.split()[-1]))
df['digits']=digits
df['first_word_len']=first_word_len
df['last_word_len']=last_word_len

In [268]:
df['words']=df.Question.str.split().str.len()

In [269]:
df['comma']=df.Question.str.count(',')
df['dot']=df.Question.str.count('\.')
df['quest']=df.Question.str.count('\?')
df['NE']=df.Question.str.count('НЕ')
df['space']=df.Question.str.count('\ ')

In [270]:
# df['dens']=df.len/(df.comma+df.dot+df.quest+df.space)
df['dens']=df.len/(df.space+df.comma+df.quest+1)

In [271]:
df.head()

,ID,Question,len,digits,first_word_len,last_word_len,words,comma,dot,quest,NE,space,dens
0,1,Как зовут лодочника на реке Стикс в древнегреч...,62,0,3,10,9,0,0,1,0,8,6.200000
1,2,Как в химии обозначается свинец?,32,0,3,7,5,0,0,1,0,4,5.333333
2,3,Какой химический элемент преобладает в составе...,62,0,5,5,8,0,0,1,0,7,6.888889
3,4,Кто из перечисленных был пажом во времена Екат...,55,0,3,3,9,0,0,1,0,8,5.500000
4,5,Когда началась 2 мировая война?,31,1,5,6,5,0,0,1,0,4,5.166667

In [272]:
for i in range(33):
    c=chr(ord('а')+i)
    df[c]=df.Question.str.count(c)/df.len

In [163]:
# quest_inside=[]
# for row in df['Question']:
#     quest_inside.append(1 if (row[-1]!='?' and '?' in row) else 0)
# df['quest_inside']=quest_inside

In [164]:
# quest_end=[]
# for row in df['Question']:
#     quest_end.append(1 if row[-1]=='?' else 0)
# df['quest_end']=quest_end

In [165]:
# dot_end=[]
# for row in df['Question']:
#     dot_end.append(1 if row[-1]=='.' else 0)
# df['dot_end']=dot_end

In [166]:
# dot_inside=[]
# for row in df['Question']:
#     dot_inside.append(1 if (row[-1]!='.' and '.' in row) else 0)
# df['dot_inside']=dot_inside

In [167]:
# words3=[]
# words5=[]
# words7=[]
# words9=[]
# for row in df['Question']:
#     words=row.replace(',',' ').replace(';',' ').split()
#     word3,word5,word7,word9,word10=0,0,0,0,0
#     for word in words:
#         if len(word)<=3:
#             word3+=1
#         if len(word)<=5:
#             word5+=1
#         if len(word)<=7:
#             word7+=1
#         if len(word)<=9:
#             word9+=1
#     words3.append(word3)
#     words5.append(word5)
#     words7.append(word7)
#     words9.append(word9)
# df['words3']=words3
# # df['words5']=words5
# df['words7']=words7
# # df['words9']=words9

In [273]:
X=df.drop(['ID','Question'],axis=1)

In [274]:
X=df.drop(['ID','Question','first_word_len','comma','dot'],axis=1)

In [277]:
X.first_word_len

AttributeError: 'DataFrame' object has no attribute 'first_word_len'

In [245]:
y=pd.read_csv('train.csv',sep=';')

In [246]:
y.head(3)

   ID  Answer
0   1       0
1   2       1
2   3       0

In [247]:
y.shape

(30000, 2)

In [292]:
X.shape

(41087, 41)

In [293]:
X_train=X[0:30000]

In [294]:
X_train.shape

(30000, 41)

In [251]:
from sklearn.model_selection import GridSearchCV
from sklearn import tree
from sklearn.model_selection import cross_val_score

In [252]:
clf=tree.DecisionTreeClassifier()

In [253]:
y=y.drop(['ID'],axis=1)

In [254]:
y.head(10)

   Answer
0       0
1       1
2       0
3       0
4       0
5       1
6       0
7       0
8       1
9       0

In [297]:
cross_val_score(clf,X_train,y,cv=5)

array([0.81103149, 0.812     , 0.816     , 0.81716667, 0.81646941])

In [298]:
clf=tree.DecisionTreeClassifier()
parametrs={'criterion':['entropy','gini'],'max_depth':range(10,30,5),'min_samples_leaf':range(5,6),'min_samples_split':range(10,11)}
grid_search_cv_clf=GridSearchCV(clf,parametrs,cv=5)

In [299]:
grid_search_cv_clf.fit(X_train,y)

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=DecisionTreeClassifier(class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features=None,
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              presort=False, random_state=None,
                                              splitter='best'),
             iid='warn', n_jobs=None,
             param_grid={'criterion': ['entropy', 'gini'],
                         'max_depth': range(10, 30, 5),
                         'min_samples_leaf': range(5, 6),
                         'min_samples_split': range(10, 11)},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [301]:
grid_search_cv_clf.best_params_

{'criterion': 'entropy',
 'max_depth': 10,
 'min_samples_leaf': 5,
 'min_samples_split': 10}

In [283]:
X_train.head(3)

,len,digits,last_word_len,words,quest,NE,space,dens,a,а,...,ч,ш,щ,ъ,ы,ь,э,ю,я,ѐ
0,62,0,10,9,1,0,8,6.200000,0.048387,0.048387,...,0.032258,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0
1,32,0,7,5,1,0,4,5.333333,0.093750,0.093750,...,0.031250,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.031250,0.0
2,62,0,5,8,1,0,7,6.888889,0.080645,0.080645,...,0.016129,0.0,0.0,0.0,0.0,0.0,0.016129,0.0,0.016129,0.0

In [302]:
best_clf=grid_search_cv_clf.best_estimator_
best_clf.feature_importances_

array([0.0967937 , 0.04119979, 0.09939426, 0.00995432, 0.46371528,
       0.03112336, 0.        , 0.04685225, 0.02252794, 0.00330562,
       0.00588789, 0.00078844, 0.00345941, 0.01510093, 0.00290872,
       0.00395588, 0.        , 0.01118113, 0.01503644, 0.01675801,
       0.00221284, 0.00534304, 0.00527173, 0.01013364, 0.00847598,
       0.00658664, 0.02508811, 0.00335316, 0.00764456, 0.        ,
       0.00441064, 0.0067478 , 0.        , 0.        , 0.        ,
       0.00772408, 0.0021963 , 0.00296908, 0.        , 0.01189906,
       0.        ])

In [303]:
best_clf=grid_search_cv_clf.best_estimator_

In [304]:
X_test=X[30000:]

In [305]:
X_test.shape

(11087, 41)

In [306]:
y_predicted_prob=best_clf.predict_proba(X_test)

In [289]:
y_predicted_prob

array([[0.86726404, 0.13273596],
       [0.96681807, 0.03318193],
       [0.93831148, 0.06168852],
       ...,
       [0.86726404, 0.13273596],
       [0.93831148, 0.06168852],
       [0.86726404, 0.13273596]])

In [307]:
y_pred=y_predicted_prob[:,1]

In [308]:
y_pred

array([0.12919102, 0.        , 0.        , ..., 0.17752809, 0.        ,
       0.078     ])

In [309]:
y_pred.shape

(11087,)

In [310]:
df_ans=pd.DataFrame({'c1':range(30001,41088),'c2':y_pred})

In [311]:
df_ans.to_csv('vk20.csv',index=False)

In [312]:
from sklearn.ensemble import RandomForestClassifier

In [313]:
clf_rf=RandomForestClassifier()

In [319]:
parametrs={'n_estimators':[10],'criterion':['entropy','gini'],'max_depth':range(3,7),
           'min_samples_leaf':range(1,10,2),'min_samples_split':range(5,20,5)}

In [320]:
grid_search_cv_clf=GridSearchCV(clf_rf,parametrs,cv=5)

In [321]:
y.head()

   Answer
0       0
1       1
2       0
3       0
4       0

In [322]:
y_train=y.Answer

In [323]:
grid_search_cv_clf.fit(X_train,y_train)

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=RandomForestClassifier(bootstrap=True, class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators='warn', n_jobs=None,
                                              oob_score=False,
                                              random_state=None, verbose=0,
                                              warm_start=False),
             iid='warn', n_jobs=None,
             param_grid={'criterion': ['entropy', 'gini'],
                         'max_depth': range(3, 7),
                         'min_samples_leaf': range(1, 10, 2),
                         'min_samples_split': range(5, 20, 5),
                         'n_estimators': [10]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [325]:
X_train.head(3)

,len,digits,last_word_len,words,quest,NE,space,dens,а,б,...,ч,ш,щ,ъ,ы,ь,э,ю,я,ѐ
0,62,0,10,9,1,0,8,6.200000,0.048387,0.000000,...,0.032258,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0
1,32,0,7,5,1,0,4,5.333333,0.093750,0.031250,...,0.031250,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.031250,0.0
2,62,0,5,8,1,0,7,6.888889,0.080645,0.016129,...,0.016129,0.0,0.0,0.0,0.0,0.0,0.016129,0.0,0.016129,0.0

In [326]:
X_test=X[30000:]
X_test.head(3)

,len,digits,last_word_len,words,quest,NE,space,dens,а,б,...,ч,ш,щ,ъ,ы,ь,э,ю,я,ѐ
30000,43,0,9,6,1,0,5,6.142857,0.069767,0.023256,...,0.023256,0.0,0.0,0.0,0.0,0.0,0.023256,0.0,0.000000,0.0
30001,30,0,8,4,0,0,3,7.500000,0.066667,0.000000,...,0.033333,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.033333,0.0
30002,36,0,5,6,0,0,5,6.000000,0.083333,0.055556,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.027778,0.0,0.000000,0.0

In [327]:
grid_search_cv_clf.best_params_

{'criterion': 'entropy',
 'max_depth': 3,
 'min_samples_leaf': 1,
 'min_samples_split': 5,
 'n_estimators': 10}

In [328]:
best_clf=grid_search_cv_clf.best_estimator_
y_predicted_prob=best_clf.predict_proba(X_test)

In [329]:
y_pred=y_predicted_prob[:,1]
y_pred.shape

(11087,)

In [330]:
df_ans=pd.DataFrame({'c1':range(30001,41088),'c2':y_pred})
df_ans.to_csv('vk21.csv',index=False)